if TARGET_SKA_MANAGEMENT

config SYS_BOARD
	default "ska_management"

config SYS_VENDOR
	default "sanitas"

config SYS_CONFIG_NAME
	default "ska_management"

config SYS_TEXT_BASE
    default 0x17800000

endif
